# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/build/dist
/build/src-dist
debug.log

# dependencies
/node_modules
node_modules

# IDE - VSCode
.vscode/*
.angulardoc.json

# misc
npm-debug.log
